/* grid system */

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

body {
    margin: 0;
    background: url("#");
    background-size: 200px;
    background-repeat: repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    height: 70px;
    background: brown;
    text-align: center;
}

#name {
    letter-spacing: 10px;
    padding: 20px;
    font-size: 30px;
    color: beige;
}

/* main body starts here */

#main_body {
    letter-spacing: 10px;
    height: auto;
    min-height: 400px;
    width: 80%;
    background: beige;
    margin: 20px auto;
    text-align: center;
    color: black;
    border-radius: 20px;
    line-height: 2;
}

#inputForm {
    margin-top: 50px;
}

.avatars {
    height: 70px;
    margin: 10px;
}

#avatarRow {
    margin-top: 20px;
}

/* footer starts here */

#footer {
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    background: brown;
    height: 50px;
    text-align: center;
}

#foottext {
    color: #ffffff;
    font-size: 8px;
    padding-top: 25px;
}